{% extends 'base_template.html' %}

{% block content %}
<div class="article-page">
    <!--<img src="{{ article.image.url }}" class="card-picture" alt="some-article">-->
    <div class="text-part">
        <h3 class="article-page-header">{{ article.title }}</h3>
        <p class="article-page-body">{{ article.body | safe }}</p>
    </div>
    <div class="comments">
        <h2 class="comments-line">Comments:</h2>
    </div>
{% for comment in comments %}
    <div class="comment-card">
        <div class="comment-card-text">
            <h3 class="username">{{ comment.username.username }}</h3>
            <p class="comment-body">{{ comment.body }}</p>
        </div>
    </div>
    {% endfor %}
    {% if request.user.username %}
    <br>
    <form method="post" action="{{article.slug}}" class="comment-form">
        {% csrf_token %}
        {{ form }}
        <!--<textarea class="add-comment" rows=4 placeholder="Say something..."></textarea>--><br>
        <input type="submit">
    </form>
    {% else %}
    <p><a href="/register" class="registration">Register to leave a comment!</a></p>
    {% endif %}
</div>
{% endblock %}