{% extends 'base_template.html' %}

{% block nav_news %}active{% endblock %}

{% block content %}

{% for article in articles %}
<div class="card">
    <a href="/{{ article.slug }}" class="card-link" alt="">
        <img src="{{ article.image.url }}" class="card-picture" alt="some-article">
    </a>
    <div class="text-part">
        <a href="/{{ article.slug }}" class="card-link" alt="">
            <h3 class="article-header">{{ article.title }}</h3>
        </a>
        <p class="preview">{{ article.snippet|safe }}</p>
    </div>
</div>
{% endfor %}
{% endblock %}